/* 
Project Name: JG Photography
Client: Jeremy Giampaoli
Author: Mitch Grove
*/

/*---------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

html,body {
	height:100%;
}


img {
	margin: 0;
	float: left;
}

/*----------------------------------------------------------------------------- 
02=Navbar  
-----------------------------------------------------------------------------*/
.navbar {
	position: absolute;
}

.nav li a {
	color: #bdc3c7;

}

.nav li a:hover {
	background-color: transparent;
	color: white;
}


.current {
	margin-top: 10px;
	color: white;
}

.logo {
	padding-top: 13px;
}

/*----------------------------------------------------------------------------- 
03=Background 
-----------------------------------------------------------------------------*/


#pictures-background {
	background:
		linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
	 	url(../assets/images/carousel_img2.jpg);
	background-size: cover;
	moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
#contact-background {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../assets/images/carousel_img3.jpg);
	background-size: cover;
    moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}


/*----------------------------------------------------------------------------- 
04=Carousel 
-----------------------------------------------------------------------------*/

/* Set carousel to fullscreen */

.carousel,.item,.active {
	height:100%;
}
.carousel-inner {
	height:100%;
}

.carousel .carousel-control {
 	opacity: 0;
}


.carousel .carousel-control:hover { 
	opacity: 1; 
}



.carousel-control.left, .carousel-control.right {
	background-image: none;
}

/*----------------------------------------------------------------------------- 
05=Lightbox
-----------------------------------------------------------------------------*/


.contact-container {
	width: 100%;
	height: 100%;
	background-image: 
		linear-gradient(
      	rgba(0, 0, 0, 0.6), 
      	rgba(0, 0, 0, 0.6)
    	),
		url(../assets/images/carousel_img3.jpg) no-repeat center center fixed;
	background-size: cover;
    moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}


.lightbox-container
{
	margin-right: auto;
	margin-left: auto; 
	padding-top: 65px;
	width: 1150px;
	padding-bottom: 20px;
}

.lightbox-thumb {
	display: inline-block;
	margin: 0;
}



/*----------------------------------------------------------------------------- 
06=Footer 
-----------------------------------------------------------------------------*/

#contact-footer {
	bottom: 0;
	position: absolute;
}

/* Footer for carousel page only */

.carousel-footer {
	width: 100%;
	height: 50px;
	margin-top: 50px;
	position: absolute;
	bottom: 0;

}


.footer-icons-container {
	margin-left: 20px;
}

.fa-stack {
	color: #bdc3c7;
}

.fa-stack:hover {
	color: white;
}


